attrs
blinker
bleak
cffi
dash
fastjsonschema
flask
fonttools
importlib-metadata
importlib-resources
itsdangerous
jinja2
joblib
jsonschema
nbformat
numpy
packaging
pandas
platformdirs
plotly
pycparser
pygments
pyinstaller
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreBluetooth
pyobjc-framework-libdispatch
pyparsing
pyqtdarktheme
pyrsistent
PySide6
PySide6-Addons
PySide6-Essentials
pytz
# pywin32
qasync
qtawesome
qtpy
scikit-learn
scipy
shiboken6
superqt
tenacity
threadpoolctl
traitlets
typing-extensions
tzdata
werkzeug
zipp
peakutils
opencv-python
open3d