attrs
blinker
bleak
cffi
dash
fastjsonschema
flask
fonttools
importlib-metadata
importlib-resources
itsdangerous
jinja2
joblib
jsonschema
nbformat
numpy
packaging
pandas
platformdirs
plotly
pycparser
pygments
pyinstaller
# pyobjc-core # for macos
# pyobjc-framework-Cocoa # for macos
# pyobjc-framework-CoreBluetooth # for macos
# pyobjc-framework-libdispatch # for macos
pywin32 # for windows
pyparsing
pyqtdarktheme
pyrsistent
PySide6
PySide6-Addons
PySide6-Essentials
pytz
qasync
qtawesome
qtpy
scikit-learn
scipy
shiboken6
superqt
tenacity
threadpoolctl
traitlets
typing-extensions
tzdata
werkzeug
zipp
peakutils
opencv-python
open3d
pynput
pyqtgraph