bleak
numpy
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreBluetooth
pyobjc-framework-libdispatch
PySide6
PySide6-Addons
PySide6-Essentials
qasync
scipy
shiboken6
typing_extensions
pyinstaller
